@page
@model Survoicerium.Frontend.Pages.GetApiKey
@{
    ViewData["Title"] = "Api key";
}

<h1>Discord User Id: @Model.DiscordUserId</h1>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
