@page
@model IndexModel

<div class="menu active">
    <div class="icons">
        <div class="rotater">
            <div class="btn btn-icon">
                <i class="fa fa-newspaper-o"></i>
            </div>
        </div>
        <div class="rotater">
            <div class="btn btn-icon">
                <i class="fa fa-heartbeat"></i>
            </div>
        </div>
        <div class="rotater">
            <div class="btn btn-icon">
                <a class="fa fa-plus-circle" href="~/getapikey?state=new"></a>
            </div>
        </div>
        <div class="rotater">
            <div class="btn btn-icon">
                <a class="fa fa-github" href="https://github.com/fl01"></a>
            </div>
        </div>
        <div class="rotater">
            <div class="btn btn-icon">
                <i class="fa fa-minus-circle"></i>
            </div>
        </div>
    </div>
</div>