@page
@model IndexModel

<div class="menu active">
    <div class="btn btn-icon" data-toggle="tooltip" title="FAQ">
        <a class="fa fa-info-circle" href="~/info"></a>
    </div>
    <div class="icons">
        <div class="rotater">
            <div class="btn btn-icon" data-toggle="tooltip" title="Download">
                <a class="fa fa-cloud-download" href="~/download"></a>
            </div>
        </div>
        <div class="rotater">
            <div class="btn btn-icon" data-toggle="tooltip" title="Server Status">
                <a class="fa fa-heartbeat" href="~/serverstatus"></a>
            </div>
        </div>
        <div class="rotater">
            <div class="btn btn-icon" data-toggle="tooltip" title="Get ApiKey">
                <a class="fa fa-plus-circle" href="~/getapikey?state=new"></a>
            </div>
        </div>
        <div class="rotater">
            <div class="btn btn-icon" data-toggle="tooltip" title="Revoke ApiKey">
                <a class="fa fa-minus-circle" href="~/resetapikey"></a>
            </div>
        </div>
        <div class="rotater">
            <div class="btn btn-icon" data-toggle="tooltip" title="Visit GitHub">
                <a class="fa fa-github" target="_blank" href="https://github.com/fl01"></a>
            </div>
        </div>
    </div>
</div>