@page
@model Survoicerium.Frontend.Pages.ResetApiKeyModel

<div class="container">
    <h1>Reset api key</h1>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
